.App {
  margin: 0px;
  margin-top: 0px;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 15px;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading {
 background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 30%, #46aef7 100%);
}

.heading img{
  position: absolute;
  left: 10%;
}

.home {
  margin: 1%;
  margin-top: 0px;
  margin-left: 15%;
  padding: 6%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form  { display: block;      }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  margin: 5%;
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px; 
  
}

.blog {
  margin: 1%;
  margin-top: 2%;
  font-size: 110%;
  line-height: 140%;

}

.blog-data {
  margin: 2.5%;
  margin-top: 1%;
}

.user {
  margin: 1%;
  margin-top: 2%;
}

.user-table.ui.table {
  margin: 2.5%;
}

.blog {
  width: 100%;
}

.segment-cover {
  margin: 20px;
}

.ui.card>.image>img, img {
  width: 100%;
}

.ui.card {
    margin: 1em 10%;
}

.nav-bar {
  font-size: 140%;
}

.launch {
  margin-top: 0px;
}

.login-bg {
  background-color: #1DCAFF;
}

.motto {
  text-align: center;
  font-size: 250%;
  padding-top: 5%;
  word-spacing: 4rem;
  font-family: 'Lobster', cursive;
  color: #707070;
}

.title {
  text-align: center;
  font-size: 250%;
  padding-top: 10%; 
  font-family: 'Lobster', cursive;
  color: #606060;
}

#div1 {
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

#div2 {
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}


#login.ui.button {
  background-color: #FFF;
  color: #1DCAFF;
  border-radius: 35px;
  width: 25%;
  margin: 3%;
  font-size: 120%;
  position: absolute;
  top: 30%;
  left: 60%;
}

#signup.ui.button {
  background-color: #FFF;
  color: #1DCAFF;
  border-radius: 35px;
  width: 25%;
  margin: 3%;
  font-size: 120%;
  position: absolute;
  top: 45%;
  left: 60%;
}

.ui.button i.icon.page {
  color: #1DCAFF;
}

.ui.input>input {
  max-width: 300%;
}

.ui.form .field .ui.input input, .ui.form .fields .field .login-input.ui.input input {
  width: 300%;
}

.btn {
  background-color: #4facfe;
}

.ui.secondary.menu .item {
  color: #555;
  margin: 0;
  transition: color .1s ease;
}

.ui.secondary.menu .item:hover {
  border-bottom: #61dafb 5px solid;
  margin: 0;
}

.ui.card>.content, .ui.cards>.card>.content {
  line-height: 150%;
}

.ui.menu {
  margin: 0;
  align-items: center;
}


.logo {
  font-size: 26px;
}

.crd-img {
 background-size: contain;
 height: 180px;
}

.ui.message {
  width: 50%;
  text-align: center;
  left: 25%;
}